<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<form action="/output.html" method="get">
  Talk to Railsbot!<br>
  <input type="text" name="input" value="Type your message here!"><br>
  <input type="submit" value="Submit">
</form>
